[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TESS"]
	path = TESS
	url = https://github.com/hoehna/tess
	shallow = true
	registered = true
